=render 'layouts/home_header'
%section.first{:style => "background-image:url(assets/share.jpg)!important;height:500px;padding-top:130px;opacity:0.7;"}
	%center
		%i.massive.car.icon{:style => "color:white;"}
		.ui.header{:style => "color:white;"} Connecting people who need to travel with drivers who have extra seats
=render 'layouts/footer'