=render 'layouts/home_header'
%section.first
	%center
		%i.massive.car.icon{:style => "color:white;"}
		.ui.header{:style => "color:white;"} Connecting people who need to travel with drivers who have extra seats
=render 'layouts/footer'