// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.first{background:asset_url("share.jpg") fixed !important;
		height:500px;
		padding-top:130px;
		opacity:0.7;}