.ui.text.menu
   
  
  =link_to 'About' , static_about_path , :class => " item"
  =link_to 'Terms and Conditions' , static_terms_path , :class => " item"
  .right.menu
    =link_to 'Privacy Policy' , static_privacy_policy_path , :class => " item"

