%center
  %br
  .ui.large.purple.ribbon.label#title Sharecar

.ui.secondary.menu
  = link_to root_path ,class: "ui item " do
    %i.home.icon.link.icon 
    Home
  .ui.mail.icon
    =link_to ""
  
  =link_to shares_path,:class => "ui  item" do
    %i.car.icon.link.icon 
    Shares
  .right.menu
    .item
    -unless user_signed_in?
      
      = link_to   new_user_session_path , :class => "ui item" do
        %i.user.icon.link.icon
        Sign in
    -else 
      = link_to edit_user_registration_path , :class => "ui item" do
        %i.edit.icon.link.icon
        = current_user.name 
      =link_to  destroy_user_session_path, method: :delete ,:class => "ui item" do
        %i.sign.out.icon.link.icon
        Sign Out

    - if superuser_signed_in?
      =link_to "Sign Out" , destroy_superuser_session_path , method: :delete,:class => "ui item"